  .box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    animation-name: slide;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: 100%;
    }
  }
